.fullDiv{
    height: 70px;
    color: rgb(245, 243, 243);
    background-color: #e60000;
}

.headSide{
    height: 40px;
    float: right;
    top: 15px;
    left: 25px;
    background-color: black;
    padding: 10px;

}

.search{
    background-color: #801f1f;
    height: 40px;
    float: right;
    top: 15px;
    left: 25px;
    padding-left: 20px;
    color: rgb(245, 243, 243);

}

.dark{
    background-color: #801f1f;
    height: 40px;
}

.carousel{
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,1),rgba(0,0,0,1));
    height: 300px;
    padding: 0;
    margin: 0;
}

.h1{
color: white;
font-size: 50px;
font-weight: bold;
position: absolute;
top: 20px;
left: 20px;
}

.image{
    background-image: url("./assets/BW_bg.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 0;
    margin: 0;
    background-blend-mode: lighten;
}

.div1{
color: white;
font-size: 30px;
position: absolute;
top: 80px;
left: 20px;
}

.div2{
color: white;
font-size: 12px;
position: absolute;
top: 120px;
left: 20px;
}

.div3{
    color: white;
    float:right;
    margin-top: 80px;
    width: 300px;
    height: 200px;
}
.div4{
    color: white;
    float:right;
    margin-top: -150px;
    width: 300px;
    height: 200px;
}

@media (max-width: 1199px) {
    .div3 {
        display: none;
    }
    .divs1, .divs2, .divs3{

 height: 20px;
    }
    .aside{
        display: none;
    }
 }

 @media (min-width: 1199px) {
    .div4 {
        display: none;
    }
    .aside1{
        display: none;
    }
 }

  @media (min-width: 767px) {
    
    .aside2{
        display: none;
    }
 }

.aside{
    background-color: white;
    height: 150px;
    margin-top: -30px;
}


.aside1{
    background-color: white;
    height: 150px;
    margin-top: 30px;
}

.aside2{
    background-color: white;
    height: 150px;
    margin-top: 30px;
}

.divs1{
 background-color: #35D3B4;
 text-align: center;
 color: white;
 font-weight: bold;
 height: 140px;
 width: 100%;
 margin-top: 10px;
}
.divs2{
 background-color: #1B2191;
 height: 140px;
 width: 100%;
 margin-top: 10px;
 text-align: center;
 color: white;
 font-weight: bold;
}
.divs3{
 background-color: #D822EE;
 text-align: center;
 color: white;
 font-weight: bold;
 height: 140px;
 width: 100%;
 margin-top: 10px;
}

.divs4{
 background-color: #0e7ae6;
 text-align: center;
 color: white;
 font-weight: bold;
 height: 140px;
 width: 100%;
 margin-top: 10px;
}

.footer{
    background-color: #9c9a97;
    height: 200px;
    margin-top: 30px;
}

.footerHead{
    font-size: 16px;
    font-weight: bold;
}

.footerHead1{
    font-size: 12px;
}

.footerDiv{
margin-top: 30px;
    text-align: center;
}
    